# Dependencies
node_modules/
.pnp
.pnp.js

# Env
.env
.env.local
.env*.local

# Build output
frontend/.next/
frontend/out/
dist/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# DB backups
db/backups/*.sql

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
